<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


    <!--引入angularJS 控制器-->
    <script src="../plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script src="../js/base_pagination.js"></script>
    <script src="../js/service/userService.js"></script>
    <script src="../js/controller/userController.js"></script>
    <script src="../js/controller/baseController.js"></script>


</head>

<body ng-app="pinyougou"
      ng-controller="userController"
      class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">用户管理</h3>
    </div>

    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    搜索： <input ng-model="searchEntity.username">
                    状态：
                    <!--<input type="radio" value=""/>全部-->
                    <input type="radio" ng-model="searchEntity.status" value="1" />正常
                    <input type="radio" ng-model="searchEntity.status" value="0" />已冻结
                    <button class="btn btn-default" ng-click="reloadList()">查询</button>
                </div>
            </div>
            <!--工具栏/-->
            <!--{{list}}-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">用户ID</th>
                    <th class="sorting">用户名</th>
                    <th class="sorting">真实姓名</th>
                    <th class="sorting">性别</th>
                    <th class="sorting">会员等级</th>
                    <th class="sorting">最后登录</th>
                    <th class="sorting">用户状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in list">
                    <td><input type="checkbox"></td>
                    <td>{{entity.id}}</td>
                    <td>{{entity.username}}</td>
                    <td>{{entity.name}}</td>
                    <td>{{entity.sex}}</td>
                    <td>{{grade[entity.userLevel]}}</td>
                    <td>{{entity.lastLoginTime}}</td>
                    <td>{{status[entity.status]}}</td>
                    <td class="text-center">
                        <button type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                                data-target="#sellerModal" ng-click="findOne(entity.id)">详情
                        </button>
                        <span ng-if="entity.status == 1">
		                                 	        <button type="button" class="btn bg-olive btn-xs"
                                                            ng-click="setStatus(entity.id,0)">冻结</button>
                                              </span>
                        <span ng-if="entity.status == 0">
		                                 	        <button type="button" class="btn bg-olive btn-xs"
                                                            ng-click="setStatus(entity.id,1)">解结</button>
                                              </span>
                    </td>
                </tr>

                </tbody>
            </table>
            <!--数据列表/-->
            <!-- 分页，paginationConf可以随便起个名字，主要是用于设置页面分页参数用的，要与$scope完成绑定 -->
            <tm-pagination conf="paginationConf"></tm-pagination>

        </div>
        <!-- 数据表格 /-->


    </div>
    <!-- /.box-body -->


    <!-- 商家详情 -->
    <div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">用户详情</h3>
                </div>


                <!--{{entity}}-->

                <div class="modal-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
                        <li><a href="#linkman" data-toggle="tab">账户详情</a></li>
                        <li><a href="#certificate" data-toggle="tab">头像</a></li>
                    </ul>

                    <!-- 选项卡开始 -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active in" id="home">
                            <br>
                            <table class="table table-bordered table-striped" width="800px">
                                <tr>
                                    <td>用户名</td>
                                    <td>{{entity.username}}</td>
                                </tr>
                                <tr>
                                    <td>昵称</td>
                                    <td>{{entity.nickName}}</td>
                                </tr>
                                <tr>
                                    <td>真实姓名</td>
                                    <td>{{entity.name}}</td>
                                </tr>
                                <tr>
                                    <td>性别</td>
                                    <td>{{entity.sex}}</td>
                                </tr>
                                <tr>
                                    <td>生日</td>
                                    <td>{{entity.birthday}}</td>
                                </tr>
                                <tr>
                                    <td>手机号</td>
                                    <td>{{entity.phone}}</td>
                                </tr>
                                <tr>
                                    <td>QQ</td>
                                    <td>{{entity.qq}}</td>
                                </tr>
                                <tr>
                                    <td>邮箱</td>
                                    <td>{{entity.email}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="linkman">
                            <br>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>会员来源</td>
                                    <td>{{statue[entity.sourceType]}}</td>
                                </tr>
                                <tr>
                                    <td>使用状态</td>
                                    <td>{{statue[entity.status]}}</td>
                                </tr>
                                <tr>
                                    <td>账户余额</td>
                                    <td>{{entity.accountBalance}}</td>
                                </tr>
                                <tr>
                                    <td>会员等级</td>
                                    <td>{{entity.userLevel}}</td>
                                </tr>
                                <tr>
                                    <td>积分</td>
                                    <td>{{entity.points}}</td>
                                </tr>

                                <tr>
                                    <td>经验值</td>
                                    <td>{{entity.experienceValue}}</td>
                                </tr>
                                <tr>
                                    <td>创建时间</td>
                                    <td>{{entity.created}}</td>
                                </tr>
                                <tr>
                                    <td>最后登录时间</td>
                                    <td>{{entity.lastLoginTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade"  id="certificate">
                            <br>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>用户头像</td>
                                    <td><img width="200" height="200" href="{{entity.headPic}}"> </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <!-- 选项卡结束 -->


                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">审核通过</button>
                    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">审核未通过</button>
                    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">关闭商家</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>