<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>

    <http pattern="/login.html" security="none"/>

    <!-- 页面拦截规则 -->
    <!--use-expressions 为是否使用使用 Spring 表达式语言（ SpEL ），
        默认为true ,如果开启，则拦截的配置应该写成以下形式: access="hasRole('ROLE_USER')"-->
    <http use-expressions="false">
        <!--intercept-url 表示拦截页面
            /*  表示的是该目录下的资源，只包括本级目录不包括下级目录
            /** 表示的是该目录以及该目录下所有级别子目录的资源
            access:这里必需是ROLE_前缀，配置角色的意思
        -->
        <intercept-url pattern="/**" access="ROLE_ADMIN" />

        <!--开启表单登陆功能-->
        <!--注意下面配置的路径，记得在带上"/"
            login-page:配置默认登录页
            authentication-failure-url:配置登录失败跳转的url
            default-target-url:配置登录成功跳转的页面
            always-use-default-target:用户登录成功后，总是跳转到default-target-url
            username-parameter:配置表单提交用户名的参数名,默认就是username，一般不修改
            password-parameter:配置表单提交密码的参数名,默认就是password，一般不修改
            login-processing-url:配置表单默认处理的url,默认就是login，一般不修改
        -->
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html"
                    always-use-default-target="true"/>

        <!--关闭跨站请求伪造功能-->
        <csrf disabled="true"/>

        <!--让springSecurity不拦截iframe-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <!--开启登出功能
            logout-url:退出url，默认就是logout,一般不改
            logout-success-url:退出成功后，跳转的url
        -->
        <logout/>
    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <!--配置用户名与密码所属角色为ROLE_USER-->
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
