<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script src="../js/base_pagination.js"></script>
    <script src="../js/service/orderService.js"></script>
    <script src="../js/controller/orderStatisticsController.js"></script>

</head>

<body ng-app="pinyougou" ng-controller="orderStatisticsController" ng-init="findOrderService()"
      class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">订单统计</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="七天内" ng-click="findHebdomad()"><i class="fa fa-file-o"></i> 七天内</button>
                    <button type="button" class="btn btn-default" title="一个月内" ng-click="findMonth()"><i class="fa fa-trash-o"></i> 一个月内</button>
                    <button type="button" class="btn btn-default" title="全部" ng-click="findAll()"><i class="fa fa-check"></i> 全部</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                起始时间：<input type="date" ng-model="startTime">
            </select>
                截至时间：<input  type="date" ng-model="endTime">
                <button class="btn btn-default" ng-click="searchDefined()">查询</button>
            </div>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">商品名称</th>
                <th class="sorting">销量</th>
                <th class="sorting">销售额</th>
                <th class="sorting">销售占比</th>
                <th class="sorting">商品状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox"></td>
                <td>{{entity.goodsName}}</td>
                <td>{{entity.count}}</td>
                <td>{{entity.saleRoom}}</td>
                <td>{{(entity.saleRoom/saleRooms*100).toFixed(2)}}%</td>
                <td>{{entity.status == 1 ? '已上架':'已下架'}}</td>
                <td class="text-center">
                    <a type="button" href="goods_edit.html#?id={{entity.id}}" class="btn bg-olive btn-xs">修改</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->

        <!-- 分页，paginationConf可以随便起个名字，主要是用于设置页面分页参数用的，要与$scope完成绑定 -->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

</body>

</html>