<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script src="../js/base_pagination.js"></script>
    <script src="../js/service/seckillOrderService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/seckillOrderController.js"></script>


</head>

<body ng-app="pinyougou" ng-controller="seckillOrderController">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">商品管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="box-tools">
            <div class="has-feedback">
                状态：<select ng-model="searchEntity.status">
                <option value="">全部</option>
                <option value="0">等待发货</option>
                <option value="1">发货订单</option>
                <option value="2">关闭订单</option>
            </select>
                订单查询：<input ng-model="searchEntity.id">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">订单ID</th>
                <th class="sorting">秒杀商品ID</th>
                <th class="sorting">支付金额</th>
                <th class="sorting">用户</th>
                <th class="sorting">创建时间</th>
                <th class="sorting">支付时间</th>
                <th class="sorting">状态</th>
                <th class="sorting">收货人地址</th>
                <th class="sorting">收货人电话</th>
                <th class="sorting">收货人</th>
                <th class="sorting">交易流水号</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox"></td>
                <td>{{entity.id}}</td>
                <td>{{entity.seckillId}}</td>
                <td>{{entity.money}}</td>
                <td>{{entity.userId}}</td>
                <td>{{entity.createTime}}</td>
                <td>{{entity.payTime}}</td>
                <td>{{entity.status=='0'?'未发货':'已发货'}}</td>
                <td>{{entity.receiverAddress}}</td>
                <td>{{entity.receiverMobile}}</td>
                <td>{{entity.receiver}}</td>
                <td>{{entity.transactionId}}</td>
                <td class="text-center">
                    <a type="button" href="javascript:;" class="btn bg-olive btn-xs">点击发货</a>
                </td>

            </tr>
            </tbody>
        </table>
        <!--数据列表/-->

        <!-- 分页，paginationConf可以随便起个名字，主要是用于设置页面分页参数用的，要与$scope完成绑定 -->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->

</body>

</html>