<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.TbCitiesMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbCities">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="provinceid" jdbcType="VARCHAR" property="provinceid" />
  </resultMap>
</mapper>