<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.TbSpecificationMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbSpecification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spec_name" jdbcType="VARCHAR" property="specName" />
      <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>